<div class="post_preview<%= approved?(post) %>">

	<div class="post_information">

		<h1 class="page_title">
				<%= link_to( post.title[0,40], "posts/#{post.id}", class: "page_title_link" ) %>
		</h1>

		<div class="page_info_div">

			<p class="page_info">
				By <span class="post_author"><%= post.author %></span>, Posted on <span class="date"><%= date_formatter(post.created_at) %></span>
			</p>

			<p class="category_p">
				<i class="fa fa-bookmark"></i> <%= category_helper(post.category_id) %>
			</p>

		</div>

		<a href="/posts/<%=post.id%>">
			<%= image_tag( post.pictures.first.image.url, class: 'post_image') %>
		</a>

	</div>

</div>






