<div class="post_preview<%= approved?(post) %>">

	<div class="post_information">

		<h1 class="page_title">
				<%= link_to( post.title[0,40], "posts/#{post.id}", class: "page_title_link" ) %>
		</h1>

		<div class="page_info_div_preview">
			<span class="by">By</span> 
			<span class="post_author_show"><%= post.author %></span>
			<span class="date_show">Posted on <%= date_formatter(post.created_at) %></span>
			<span class="category_p_show"><i class="fa fa-bookmark preview_category"></i></span>
			<span class="category_p_show"><%= post.category.name %></span>
		</div>

		<a href="/posts/<%=post.id%>">
			<%= image_tag( post.pictures.first.image.url, class: 'post_image') %>
		</a>

	</div>

</div>






