<div class="spacer"></div>

<div class="post_category">
	<p>
		<%= category_helper(@post.category_id) %>
	</p>
</div>

<h1 class="post_title">
	<%= @post.title %>
</h1>

<p class="post_author_date">
	By <%= @post.author %>, Posted on <%= date_formatter(@post.created_at) %>
</p>

<%= image_tag( @post.image_url, class: "post_image_large" ) %>
<br>

<div class="post_body">
	<p class="post_paragraph">
		<%= @post.body %>
	</p>
</div>