<div class="spacer"></div>

<div class="post_body">

	<h1 class="post_title_show">
		<%= @post.title %>
	</h1>

	<div class="page_info_div_show">
		<span class="by">By</span> 
		<span class="post_author_show"><%= @post.author %></span>
		<span class="date_show">Posted on <%= date_formatter(@post.created_at) %></span>
		<span class="category_p_show"><i class="fa fa-bookmark preview_category"></i></span>
		<span class="category_p_show"><%= @post.category.name %></span>
	</div>

</div>

<% unless @pictures.empty? %>
	<% @pictures.each do |pic| %>
		<%= image_tag( pic.image.url, class: "post_image_large" ) %>
	<% end %>
<% end %>

<div class="post_body">
	<div class="social_media_div">
		<i class="fa fa-linkedin social"></i>
		<i class="fa fa-pinterest-p social"></i>
		<i class="fa fa-instagram social"></i>
		<i class="fa fa-twitter social"></i>
		<i class="fa fa-facebook social"></i>
	</div>
</div>

<div class="spacer_small"></div>

<div class="post_body">
		<%= raw(@post.body) %>
</div>

<% if current_user %>
	<% if admin? %>

		<% if @post.approved != true %>
			<div>
				<%= form_tag("/posts/#{@post.id}", method: "patch") do |f| %>
					<%= hidden_field_tag :approved, :true %>
				  <%= submit_tag("Approve") %>
				<% end %>
			</div>
		<% end %>

		<% if @post.featured != true %>
			<div>
				<%= form_tag("/posts/#{@post.id}", method: "patch") do |f| %>
					<%= hidden_field_tag :featured, :true %>
				  <%= submit_tag("Featured") %>
				<% end %>
			</div>
		<% end %>

		<div>
			<%= form_tag("/posts/#{@post.id}", method: "delete") do %>
			  <%= submit_tag("Delete") %>
			<% end %>
		</div>

	<% end %>
<% end %>

<div class="spacer"></div>

