<div class="spacer"></div>

<h2 class="skills_header">Code Skills</h2>

<div class="icons_container">

	<div class="icon_divs">
		<%= image_tag('ruby-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ror-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('html5-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('js-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('jquery-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('css3-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('sql-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('php-icon.svg', class: 'skill_icons') %>
	</div>

</div>



<h2 class="skills_header">Software Skills</h2>

<div class="icons_container">

	<div class="icon_divs">
		<%= image_tag('fw-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ai-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ps-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('id-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('git-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('github-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('wp-icon.svg', class: 'soft_skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('imovie-icon.svg', class: 'soft_skill_icons') %>
	</div>

</div>

<div class="spacer_small"></div>

<h1 class="about_this_site_header">About This Site</h1>

<div class="about_this_site">

	<div class="about_this_site_icon_divs left">
		<%= image_tag('code_icon.svg', class: 'code_icon about_this_site_icons') %>
		<h2 class="about_this_site_h2">100% Original</h2>
		<p class="about_this_site_p">Hand Made Code and Icons.</p>
	</div>

	<div class="about_this_site_icon_divs right">
		<%= image_tag('database_icon.svg', class: 'database_icon about_this_site_icons') %>
		<h2 class="about_this_site_h2">8 Database Tables</h2>
		<p class="about_this_site_p">More Complex Than it Looks.</p>
	</div>

	<div class="about_this_site_icon_divs left">
		<%= image_tag('cloud_icon.svg', class: 'cloud_icon about_this_site_icons') %>
		<h2 class="about_this_site_h2">4 CDNs Utilized</h2>
		<p class="about_this_site_p">Fast and Fun Content.</p>
	</div>

	<div class="about_this_site_icon_divs right">
		<%= image_tag('share_icon.svg', class: 'share_icon about_this_site_icons') %>
		<h2 class="about_this_site_h2">3 APIs Utilized</h2>
		<p class="about_this_site_p">Some Easier Than Others.</p>
	</div>

</div>

<div class="spacer"></div>

<!-- <div class="about_paragraph_container"> -->
	<!-- <p class="about_paragraph">Welcome to my portfolio site! First things first, its a work in progress! There are many aspects of this site that will change, both visually and under the hood.</p> -->
<!-- </div> -->

<h1 class="about_header">About Me</h1>
<div class="about_image_div">
	<%= image_tag('about-round-large.png', class: 'about_round_large') %>
</div>
<div class="about_paragraph_container">
	<p class="about_paragraph">Welcome to my portfolio site! First things first, its a work in progress! There are many aspects of this site that will change, both visually and under the hood.</p>
</div>


