<div class="spacer"></div>
<div class="spacer"></div>

<h2 class="skills_header">Coding Skills</h2>

<div class="icons_container">

	<div class="icon_divs">
		<%= image_tag('ruby-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ror-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('html5-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('js-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('jquery-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('css3-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('sql-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('php-icon.svg', class: 'skill_icons') %>
	</div>

</div>

<h2 class="skills_header">Software Skills</h2>

<div class="icons_container">

	<div class="icon_divs">
		<%= image_tag('fw-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ai-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('ps-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('id-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('git-icon.svg', class: 'skill_icons') %>
	</div>

	<div class="icon_divs">
		<%= image_tag('github-icon.svg', class: 'skill_icons') %>
	</div>

</div>


<h1 class="about_header">About Me</h1>

<div class="about_paragraph_container">
	<p class="about_paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt eros eu ante faucibus bibendum. Praesent efficitur laoreet luctus. Vestibulum molestie erat quis quam scelerisque, ac ultricies nulla efficitur. Curabitur sit amet leo ornare enim condimentum lobortis eu nec felis. Donec id magna dui. Curabitur ac diam ac leo laoreet pellentesque ultrices eu lectus. Aenean aliquet volutpat sapien. Etiam sed sem cursus, vulputate nunc in, consectetur dui. Pellentesque finibus sit amet lectus sit amet sodales.</p>
</div>

